<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand color-upeu-letras">SisGev G1</a>
    
     <!-- Toggle Button-->
     
     <button id="toggle-btn" class="btn menu-btn">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-list color-upeu-letras" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
     </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a *ngIf="isModConf()" class="navbar-brand color-upeu-letras ml-3" style="font-size: 15px;"> |&nbsp;&nbsp;Configuración del Proceso de Evaluación y del Perfil de Egreso</a>
    <a *ngIf="isModPlan()" class="navbar-brand color-upeu-letras ml-3" style="font-size: 15px;"> |&nbsp;&nbsp;Planificación del Proceso de Evaluación y del Perfil de Egreso</a>
    <a *ngIf="isModEje()" class="navbar-brand color-upeu-letras ml-3" style="font-size: 15px;"> |&nbsp;&nbsp;Ejecución del Proceso de Evaluación y del Perfil de Egreso</a>
    <a *ngIf="isModInf()" class="navbar-brand color-upeu-letras ml-3" style="font-size: 15px;"> |&nbsp;&nbsp;Informes del Proceso de Evaluación y del Perfil de Egreso</a>
    <a *ngIf="isModSeg()" class="navbar-brand color-upeu-letras ml-3" style="font-size: 15px;"> |&nbsp;&nbsp;Gestión de Usuarios y Privilegios</a>
</nav>
  